
/*header部分start*/

/*继承支付部分*/
#Integration_stage_font{
  /*background: #1c1e23;*/
  border-bottom: 3px solid #6bb56f;
  -webkit-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  box-shadow: 0 15px 30px rgba(0,0,0,0.1);
  -webkit-transform: translate3d(0, -2px, 0);
  transform: translate3d(0, -2px, 0);
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}

/*header部分stop*/
/*article部分start*/


/*section start*/
.section{
  width: 100%;
  height: auto;
  background: #2B2C30;
}
.section_images_box{
  margin: auto;
  width: 80%;
  height: auto;
}
.section_images_box img{
  width: 100%;
}
/*section stop*/
/*article部分stop*/
